/* Reset */
* {
    margin: 0px;
    padding: 0px;
}


nav ul {
    text-align: right;
    padding: 6px;
    background-color: rgb(133, 81, 39);
    border-bottom: 2px solid black;
}

nav ul li {

    display: inline;

}

nav ul li a {

    text-decoration: none;
    color: rgb(133, 81, 39);
    background-color: rgb(212, 194, 169);
    padding: 2px;
    border: 2px solid rgb(77, 47, 23);
}

nav ul li a:hover {
    color: rgb(31, 18, 7);
    background-color: rgb(161, 125, 125);
    padding: 2px;
    border: 2px solid rgb(77, 47, 23);
}


body {
    background-color: rgb(212, 194, 169);
}

header {
    padding: 0px 20px;
    margin: 10px 0;
}

header h1 {

    text-transform: capitalize;
    font-size: 22px;
    color: rgb(77, 47, 23);
    font-weight: normal;
}

header p {
    font-size: 18px;
    color: rgb(77, 47, 23);
}

main {
    width: 362px;
    padding: 0px 80px;
}

.novidade {

    color: rgb(212, 194, 169);
    background-color: rgb(77, 47, 23);
    align-self: center;
    border: 4px solid black;
}

.novidade h3,
h2 {
    text-align: center;
}

.novidade img {
    border: 2px solid rgb(77, 47, 23);
    width: 350px;
    height: 200px;
}

.descricao-produto {
    font-size: 12px;
}

footer {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

footer img {
    width: 100px;
    height: 100px;
}